.coinContainer{
    margin: 50px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    background-color: #f6f6f6;
}

.input{
    width: 500px;
    height: 50px;
    margin: 30px auto;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
    background-color: #f6f6f6;
    transition: all 0.2s ease;
}

.input:focus{
    outline: none;
    border-color: white;
    background-color: white;
    box-shadow: rgba(74 , 74 , 74 , 0.24) 0px 3px 8px ;
}
